exports.vapidKeys = {}
exports.vapidKeys.publicKey = 'PUBLIC_KEY',
exports.vapidKeys.privateKey = 'PRIVATE_KEY'

exports.monogo = {};
exports.mongo.port = 1234;
exports.mongo.user = 'USER_NAME';
exports.mongo.password = 'PASSWORD';
exports.mongo.dbname = 'DB_NAME';

exports.jwt = {};
exports.jwt.privateKey = 'PRIVATE_KEY';
